{% extends 'base.html' %}

{% import 'macro/post.html' as post_macro %}

{% block main %}
    {% if current_user and current_user.is_authenticated %}
        <form class="mb-5" action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.title.label }}<br>
                {{ form.title(size=100) }}
                {% for error in form.title.errors %}
                    <span class="bg-danger">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.text_content.label }}<br>
                {{ form.text_content(size=100) }}
                {% for error in form.text_content.errors %}
                    <span class="bg-danger">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    {% endif %}

    <h3 class="mb-4">All posts</h3>
    {% for post in posts %}
        {{ post_macro.render_post(post, show_author=true) }}
    {% else %}
        <h5>No posts found!</h5>
    {% endfor %}
{% endblock %}
