{% extends 'base.html' %}

{% import 'macro/post.html' as post_macro %}

{% block main %}
    <div class="container">
        <h3 class="mb-2">User information</h3>
        <div>Login is '{{ user.login }}'</div>
        <div>Profile was created at {{ user.created_at }}</div>

        <div class="mt-4">
            <h3 class="mb-3">Posts</h3>
            {{ post_macro.render_posts(posts, current_user, ['soft_delete']) }}
        </div>
        <script src="{{ url_for('static', filename='js/post.js') }}"></script>
    </div>
{% endblock %}
